/* components/Footer.module.css */
.footer {
  width: 100%;
  padding: 20px;
  background-color: #f8f9fa;
  border-top: 1px solid #e5e7eb;
  margin-top: auto; /* Pushes footer to bottom if container is flex */
  text-align: center;
}

.content {
  max-width: 600px;
  margin: 0 auto;
}

.footer p {
  margin: 4px 0;
  padding: 15px;
  font-size: 0.85rem;
  color: #6b7280;
}

.citations {
  font-style: italic;
  font-size: 0.4rem;
  text-align: left;
}

.creds {
  font-size: 0.75rem;
}